---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Desarrollador Web",
    company: "Freelancer",
    description:
      "Trabajo en la fabricacion de algunos tipos de forms con Typescript y Ant Design, para facilitar la inscripcion de personas e ingreso de datos, con la finalidad de comercializarlos",
  },
  {
    date: "Agosto 2023",
    title: "Supervisor de Almacenes",
    company: "C&R Shadong EIRL",
    description:
      "Responsable de supervisar el correcto flujo de los almacenes, manejando distintos anilisis de datos para corroborar la eficiencia de los almacenes",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
